*{
    scrollbar-width: thin; /* Tamaño de la barra: thin, auto o none */
    scrollbar-color: #007bff #f0f0f0; /* thumb color y track color */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-general{
    margin: 5px;
    box-shadow: 0 0 10px 10px wheat;
}

header{
    margin: 0;
    background-color: rgb(172, 169, 169);
    height: 100px;
    font-size: 30px;
    text-align: center;
}

h1{
    color: wheat;
}



.cross svg{
    position: fixed;
    width: 50px;
    height: 100px;
    top: 5px;
    right: 20px;
    color:black;
    transition: transform 1s ease;
}

.cross svg:hover{
    color: red;
    transform: rotate(360deg);
}

/* Estilos básicos para la imagen */

.flex1-container{
    margin: 0;
    background-color: whitesmoke;
    height: calc(70vh - 80px); /* Altura total menos header y footer */
    display: flex;
    gap: 40px;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

div.foto-proyect {
    position: relative;
    width: 1000px; /* Ajusta según necesites */
    height: auto;
  }
  
div.foto-proyect img {
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 30px;
    display: block; /* Asegura que la imagen esté centrada */
    margin-left: auto;
    margin-right: auto;
    transition: filter 0.5s ease; /* Suaviza el efecto de desenfoque */
}
  
  /* Efecto de desenfoque y aparición del overlay */
.foto-proyect:hover img{
    filter: blur(5px); /* Aplica el desenfoque al pasar el cursor */
}
  
.overlay {
    position: absolute;
    margin: 0;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Invisible por defecto */
  }
  
  /* Aparece al pasar el mouse */
  .foto-proyect:hover .overlay {
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  }
  
  /* Estilo de la imagen de GitHub y el texto */
  div.overlay img {
    width: 100px; /* Tamaño del ícono */
    height: 100px;
    opacity: 0; /* Invisible por defecto */
  }
  
  .foto-proyect:hover .overlay img {
    opacity: 1; /* Aparece el ícono */
    filter: none;
  }

  
  /* Estilos de la descripción */
  p.description {
    margin: 0;
    padding: 5%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: whitesmoke;
    color: black;
    text-align: justify;
    white-space: normal;
    font-size: 20px;
  }
  
  /* Contenedor flexible */
  section .flex2-container {
    margin: 0px;
    background-color: whitesmoke;
    display: flex;
    gap: 40px;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }

  footer.flex-container{
    margin: 0;
    background-color: black;
    color: wheat;
    flex-shrink: 0; /* Evita que el footer se reduzca */
    box-sizing: border-box;
    padding: 25px;
    clear: both;
    display: flex;
    gap: 40px;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }
